* {
	box-sizing: border-box;
}

html {
	height: 100%;
	overflow: hidden;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 0;
}

form {
	padding-top: 5%;
	margin: 0 auto;
	max-width: 90%;
}

label {
	display: block;
}

input {
	border: 1px solid #eee;
	padding: 5px;
	margin-bottom: 1.5em;
	width: 100%;
}

input:focus {
	border-color: #245e82;
}

.link {
	position: relative;
}

.link.has-focus .search-results {
	display: block;
}

.search-container,
.spinner,
.search-notice {
	display: none;
}

.spinner,
.search-notice {
	margin: 0;
	padding: 7px;
}

.search-container {
	background: #fff;
	border-radius: 0 0 8px 8px;
	box-shadow: rgb(0 0 0 / 20%) 0 2px 4px;
	max-height: 105px;
	overflow-y: scroll;
	position: absolute;
	scrollbar-color: #e3e3e3 transparent;
	scrollbar-width: thin;
	top: 46px;
	width: 100%;
	z-index: 1;
}

.search-results {
	list-style: none;
	margin: 0;
	padding: 0;
}

.search-results li {
	padding: 7px;
	position: relative;
}

.search-results li:hover {
	background: #eee;
}

.search-results li:first-of-type {
	margin-top: 5px;
}

.item-text,
.item-url {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 90%;
}

.item-url {
	color: #245e82;
	display: block;
	font-size: 11px;
}

.open-external {
	display: none;
}

.search-results li:hover .open-external {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 14px 5px;
}

.search-button {
	background: #f1f3f4;
	border: 1px solid transparent;
	border-radius: 3px;
	font-size: 14px;
	padding: 10px;
}

.search-button:active,
.search-button:focus,
.search-button:hover {
	border-color: #c4c4c4;
}

.search-button:disabled {
	border-color: transparent;
}
